.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

.settings-button { padding: 10px 0 0; }
.settings-button a { font-size: 1.8em; color: #9d9d9d; }
.settings-button a:hover { color: #FFF; }

.settings-form .alert { margin:10px 0; }
.settings-form h1 { margin-bottom: 40px; }
.settings-form p { margin:7px 0 10px; }

#movies-list h1 { margin:10px 0 40px; text-align: center; }
#movies-list .filter-search { margin-bottom: 30px; }
#movies-list .filter-search p { margin: 15px 0; }

.list-movies { display:flex; flex-wrap: wrap; }
.movie-item { padding: 10px; }
