<div class="settings-form">

	<h1>Settings</h1>

	<form class="form-horizontal">

		<fieldset>

			<legend>API Key</legend>

			<div class="form-group">
				<label for="first_name" class="col-lg-3 control-label">Your API Key:</label>
				<div class="col-lg-8">

					<!-- @begin input-icon -->
					<div class="input-group">
						<input type="text" ng-model="apiKey" class="form-control" name="validate-text" placeholder="Insert here your API KEY of themoviedb.org" required>

						<span class="input-group-addon danger" ng-show="validateStatus == -1">
							<span class="glyphicon glyphicon-remove"></span>
						</span>
						<span class="input-group-addon success" ng-show="validateStatus == 1">
							<span class="glyphicon glyphicon-ok"></span>
						</span>
						<span class="input-group-addon info" ng-show="validateStatus == 0">
							<span class="glyphicon glyphicon-asterisk"></span>
						</span>
					</div>
					<!-- @end messages -->

					<!-- @begin messages -->
					<div class="alert alert-danger" role="alert" ng-show="validateStatus == -1">
						<p>We havent stored the new API KEY because we couldn't use it connect with https://api.themoviedb.org/3/movie</p>
						<a ng-click="reloadPage()" href="">reload</a>
					</div>

					<div class="alert alert-success" role="alert" ng-show="(validateStatus==1) && newApiKey">
						<p>The API KEY is valid and has been succesfully stored</p>
					</div>
					<!-- @end messages -->

				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label"></label>
				<div class="col-md-8">
					<input type="button" ng-click="saveSettings()" class="btn btn-primary" value="Save API Key">
				</div>
			</div>

		</fieldset>

		<fieldset>
			<legend>Local Storage</legend>
			<div class="form-group">
				<label for="first_name" class="col-lg-3 control-label">Popular Movies:</label>
				<div class="col-lg-8">
							<p class="text-danger"><strong>0</strong> popular movies are stored locally</p>
							<button ng-click="localPopularMovies()" type="button" class="btn btn-primary">Store Popular Movies Locally</button>


				</div>
			</div>
		</fieldset>
	</form>

</div>