<h1>Settings</h1>

	<div class="alert alert-danger" role="alert" ng-show="validateStatus == -1">
		<p>We havent stored the new API KEY because we couldn't use it connect with https://api.themoviedb.org/3/movie</p>
	</div>

	<div class="alert alert-success" role="alert" ng-show="(validateStatus==1) && newApiKey">
		<p>The API KEY is valid and has been succesfully stored</p>
	</div>

	</div>

	<form class="form-horizontal">

		<div class="form-group">
			<label for="first_name" class="col-lg-3 control-label">API KEY:</label>
			<div class="col-lg-8">

				<div class="input-group">
					<input type="text" ng-model="apiKey" class="form-control" name="validate-text" placeholder="Insert here your API KEY of themoviedb.org" required>

					<span class="input-group-addon danger" ng-show="validateStatus == -1">
						<span class="glyphicon glyphicon-remove"></span>
					</span>
					<span class="input-group-addon success" ng-show="validateStatus == 1">
						<span class="glyphicon glyphicon-ok"></span>
					</span>
					<span class="input-group-addon info" ng-show="validateStatus == 0">
						<span class="glyphicon glyphicon-asterisk"></span>
					</span>

				</div>
			</div>
		</div>



		<div class="form-group">
			<label class="col-md-3 control-label"></label>
			<div class="col-md-8">
				<input type="button" ng-click="saveSettings()" class="btn btn-primary" value="Save Changes">
			</div>
		</div>

	</form>

</div>